* {
    color: #F4EEE0;
    font-family: 'Rubik', sans-serif;
}
body {
    background-color: rgb(57, 54, 70);
}

header, footer {
    background-color: #4F4557;
    padding: 25px;
    border-style: dashed;
    border-width: 3px;
    border-color: #6D5D6E;
    border-radius: 10px
}

h1 {
    font-size: 32pt;
}

h1, h2 {
    font-weight: bold;
    color: PowderBlue;
}

nav{
    text-align: center;
}

nav li {
    display: inline;
    margin: 10px;
    width: 100%;
}

nav li a {
    text-decoration: none;
    color: #B59AB7;
}

nav li a:hover {
    color: hsl(42, 8%, 92%);
}

#main {
    margin-left: 1in;
}

#media {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 0 5vh 0;
}

#media > .item{
    margin: auto;
}

img, video, audio{
    width: 400px;
    padding: 40px 20px 40px 20px;
    background-color: #6D5D6E;
    border-radius: 10px;
}

footer {
    text-align: center;
}