* {
    color: #F4EEE0;
    font-family: 'Rubik', sans-serif; 
}
body {
    background-color: #393646;
}

header, footer {
    background-color: #4F4557;
    padding: 20px;
    border-style: dashed;
    border-width: 3px;
    border-color: #6D5D6E;
    border-radius: 10px
}

h1 {
    font-weight: bold;
}

nav{
    text-align: center;
}

nav li {
    display: inline;
    margin: 10px;
    width: 100%;
}

nav li a {
    text-decoration: none;
    color: #b59ab7;
}

nav li a:hover {
    color: #F4EEE0;
}

footer {
    text-align: center;
}

#media {
    display: flex;
    margin-left: 10%;
}