* {
    color: #F4EEE0;
    font-family: 'Rubik', sans-serif;
}
body {
    background-color: rgb(57, 54, 70);
}

header, footer {
    background-color: #4F4557;
    padding: 25px;
    border-style: dashed;
    border-width: 3px;
    border-color: #6D5D6E;
    border-radius: 10px
}

h1 {
    font-size: 32pt;
    position: sticky;
    top: 0;
    background-color: #4F4557;
    margin-bottom: 10px;
    padding-bottom: 5pt 5pt 0 0;
}

h1, h2 {
    font-weight: bold;
    color: PowderBlue;
}

nav{
    text-align: center;
}

nav li {
    display: inline;
    margin: 10px;
    width: 100%;
}

nav li a {
    text-decoration: none;
    color: #B59AB7;
}

nav li a:hover {
    color: hsl(42, 8%, 92%);
}

#main {
    margin-left: 1in;
    display: inline-block;
    max-width: 80%;
}

h4 + ol > li {
    color: pink;
}

h2 ~ ul > li {
    color: peachpuff;
}

summary {
    color: #B59AB7;
}

#media {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 0 5vh 0;
}

div[class="item"] {
    margin: auto;
}

img, video, audio{
    height: 300px;
    padding: 20px;
    background-color: #6D5D6E;
    border-radius: 10px;
}

audio {
    border-radius: 20px;
    min-width: 300px;
    height: 50px;
}

h2.mh {
    color: #B59AB7;
}

#survey {
    display: grid;
    justify-content: center;
    align-items: start;
}

.question {
    margin: 20px 20px 0 0;
    background-color: #4F4557;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

fieldset {
    text-align: left;
    border: none;
}

legend {
    text-align: center;
    color: peachpuff;
}

label {
    color: peachpuff;
}

input, select, textarea, button, datalist{
    color:#4F4557;
}

footer {
    text-align: center;
}