* {
    color: #F4EEE0;
    font-family: 'Rubik', sans-serif;
}
body {
    background-color: rgb(57, 54, 70);
}

header, footer {
    background-color: #4F4557;
    padding: 25px;
    border-style: dashed;
    border-width: 3px;
    border-color: #6D5D6E;
    border-radius: 10px
}

h1 {
    font-size: 32pt;
    position: sticky;
    top: 0;
    background-color: #4F4557;
    margin-bottom: 10px;
    padding-bottom: 5pt 5pt 0 0;
}

h1, h2 {
    font-weight: bold;
    color: PowderBlue;
}

/* navigation */
nav{
    text-align: center;
}

nav li {
    display: inline;
    margin: 1em;
    width: 100%;
}

nav li a {
    text-decoration: none;
    color: #B59AB7;
}

nav li a:hover {
    color: hsl(42, 8%, 92%);
}

#main {
    margin-left: 1in;
    display: inline-block;
    max-width: 80%;
}

@media screen and (min-width: 720px){
    #main {  
        max-width: 100%;
    }
}

h4 + ol > li {
    color: pink;
}

h2 ~ ul > li {
    color: peachpuff;
}

summary {
    color: #B59AB7;
}

/* various media */
#media {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 0 5vh 0;
}

div[class="item"] {
    margin: auto;
}

img, video, audio{
    height: 300px;
    padding: 20px;
    background-color: #6D5D6E;
    border-radius: 10px;
}

audio {
    border-radius: 20px;
    min-width: 300px;
    height: 50px;
}

h2.mh {
    color: #B59AB7;
}

/* ice cream kiosk */
#survey {
    display: grid;
    justify-content: center;
    align-items: center;
    position: static;
}

.question {
    margin: 20px 0 20px 0;
    background-color: #4F4557;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

fieldset {
    text-align: left;
    border: none;
}

legend {
    text-align: center;
    color: peachpuff;
}

label {
    color: peachpuff;
}

input + label {
    color: #F4EEE0;
}

input, select, textarea, button, datalist{
    color:#4F4557;
}

button {
   width: 100%;
   background-color: pink;
   border-style: none;
   height: 2lh;
   border-radius: 10px;
   font-size: 18pt;
}

button:active {
    background-color: peachpuff;
}

footer {
    text-align: center;
}